/* START-- IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_P_ERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE -- */

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .checkbox+label::before {
    width: 10px;
    height: 10px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE table {
    width: 100%;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .t16 {
    width: 100%;
    margin-top: 11px;
    font: 9px 'Arial';
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .t17 {
    width: 100%;
    margin-top: 9px;
    font: 12px 'Arial';
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft0 {
    font: 8px 'Arial';
    line-height: 10px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft5 {
    font: 12px 'Arial';
    line-height: 15px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft6 {
    font: 1px 'Arial';
    line-height: 1px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft7 {
    font: 11px 'Arial';
    line-height: 14px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft14 {
    font: 9px 'Arial';
    color: #fc0011;
    line-height: 12px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft24 {
    font: 9px 'Arial';
    line-height: 12px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft35 {
    font: 12px 'Arial';
    line-height: 14px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft53 {
    font: 12px 'Arial';
    margin-left: 3px;
    line-height: 15px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft58 {
    font: 15px 'Arial';
    line-height: 17px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft59 {
    font: 11px 'Arial';
    margin-left: 3px;
    line-height: 14px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft60 {
    font: 12px 'Arial';
    color: #008436;
    line-height: 15px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft61 {
    font: 9px 'Arial';
    color: #008436;
    line-height: 12px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft62 {
    font: 12px 'Arial';
    color: #fd660a;
    line-height: 15px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft63 {
    font: 9px 'Arial';
    color: #009ec7;
    line-height: 12px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft64 {
    font: 12px 'Arial';
    color: #008436;
    line-height: 14px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft65 {
    font: 8px 'Arial';
    color: #009ec7;
    line-height: 10px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft66 {
    font: 12px 'Arial';
    margin-left: 4px;
    line-height: 15px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft67 {
    font: 12px 'Arial';
    color: #009ec7;
    line-height: 15px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft68 {
    font: 11px 'Arial';
    color: #009ec7;
    line-height: 14px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft69 {
    font: 8px 'Arial';
    color: #fd660a;
    line-height: 10px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft70 {
    font: 8px 'Arial';
    color: #fd660a;
    margin-left: 8px;
    line-height: 10px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .ft71 {
    font: 9px 'Arial';
    color: #009ec7;
    margin-left: 2px;
    line-height: 12px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .p5 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .p42 {
    text-align: left;
    margin-top: 1px;
    margin-bottom: 0px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .p45 {
    text-align: left;
    margin-top: 4px;
    margin-bottom: 0px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .p51 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .p92 {
    text-align: left;
    margin-top: 16px;
    margin-bottom: 0px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .p95 {
    margin-top: 23px;
    margin-bottom: 0px;
    font-weight: bold
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .p96 {
    text-align: justify;
    padding-left: 11px;
    margin-top: 8px;
    margin-bottom: 0px;
    text-indent: -11px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .p97 {
    padding-left: 11px;
    margin-top: 12px;
    margin-bottom: 0px;
    text-indent: -11px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .p98 {
    padding-left: 11px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-indent: -11px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .p99 {
    text-align: left;
    padding-left: 11px;
    padding-right: 99px;
    margin-top: 12px;
    margin-bottom: 0px;
    text-indent: -11px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .td44 {
    width: 163px;
    vertical-align: bottom;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .td45 {
    padding: 0px;
    margin: 0px;
    width: 341px;
    vertical-align: bottom;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .td46 {
    padding: 0px;
    margin: 0px;
    width: 132px;
    vertical-align: bottom;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .td47 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 341px;
    vertical-align: bottom;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .td48 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 377px;
    vertical-align: bottom;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .td49 {
    padding: 0px;
    margin: 0px;
    width: 418px;
    vertical-align: bottom;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .td50 {
    padding: 0px;
    margin: 0px;
    width: 48px;
    vertical-align: bottom;
}


#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .td51 {
    padding: 0px;
    margin: 0px;
    width: 36px;
    vertical-align: bottom;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .td52 {
    padding: 0px;
    margin: 0px;
    width: 204px;
    vertical-align: bottom;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .td53 {
    padding: 0px;
    margin: 0px;
    width: 201px;
    vertical-align: bottom;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .tr0 {
    height: 16px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .tr3 {
    height: 15px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .tr9 {
    height: 18px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .tr16 {
    height: 14px;
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .t18 {
    margin-left: 11px;
    margin-top: 3px;
    font: 12px 'Arial';
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .t19 {
    margin-left: 11px;
    margin-top: 1px;
    font: 12px 'Arial';
}

#IDENTIFICATION_OF_THE_CARD_APPLICANT_AND_ESTABLISHIG_THE_IDENTITY_OF_THE_CONTROLLING_PERSON_AND_THE_BENEFICIAL_OWNER_TRUSTEE .t20 {
    margin-left: 11px;
    margin-top: 1px;
    font: 12px 'Arial';
}
