#IDENTITY_OF_CONTROLLING_PERSON_NON_PUBLIC_COMPANY .description {
    font-weight: normal;
    font-size: 9px;
}

#IDENTITY_OF_CONTROLLING_PERSON_NON_PUBLIC_COMPANY .ft0 {
    font: 8px 'Arial';
    line-height: 10px;
}

#IDENTITY_OF_CONTROLLING_PERSON_NON_PUBLIC_COMPANY .ft4 {
    font: 16px 'Arial';
    line-height: 18px;
}

#IDENTITY_OF_CONTROLLING_PERSON_NON_PUBLIC_COMPANY .ft5 {
    font: 12px 'Arial';
    line-height: 15px;
}

#IDENTITY_OF_CONTROLLING_PERSON_NON_PUBLIC_COMPANY .p17 {
    margin-top: 12px;
    margin-bottom: 0px;
}

#IDENTITY_OF_CONTROLLING_PERSON_NON_PUBLIC_COMPANY .p18 {
    text-align: justify;
    padding-right: 13px;
    margin-top: 18px;
    margin-bottom: 0px;
}
