#LSV_SWISS_VERSION .ft1 {
    font: 12px 'Arial';
    line-height: 15px;
}

#LSV_SWISS_VERSION .ft7 {
    font: 16px 'Arial';
    line-height: 18px;
}

#LSV_SWISS_VERSION .ft8 {
    font: 9px 'Arial';
    line-height: 12px;
    margin-top: 5px;
}

#LSV_SWISS_VERSION .p15 {
    padding-left: 1px;
    margin-bottom: 0px;
}

#LSV_SWISS_VERSION .p16 {
    margin-top: 6px;
    margin-bottom: 0px;
}
