html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
    max-width: 850px;
    min-height: 100%;
    position: relative;
}

@font-face {
    font-family: Helvetica;
    src: url("../fonts/primary/HelveticaNeueLTStd-Bd.otf"),
    url("../fonts/primary/HelveticaNeueLTStd-BdCn.otf"),
    url("../fonts/primary/HelveticaNeueLTStd-Cn.otf"),
    url("../fonts/primary/HelveticaNeueLTStd-Lt.otf"),
    url("../fonts/primary/HelveticaNeueLTStd-LtCn.otf"),
    url("../fonts/primary/HelveticaNeueLTStd-MdCn.otf"),
    url("../fonts/primary/HelveticaNeueLTStd-Roman.otf");
}

body {
    max-width: 850px;
    background: #ffffff;
    margin: 115px 0 137px 0;
    padding: 0 40px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: 'Arial', "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 20px 0;
    font-family: "Helvetica Neue", Helvetica, 'Arial', sans-serif;
}

p {
    margin: 0;
}

.borderBottom {
    border-bottom: #000000 1px solid;
}


/*GRID*/

.grid {
   display: grid;
}

.col-2 {
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    grid-template-columns: 1fr 50px 1fr;
}

.grid-gap50 {
    grid-gap: 20px 50px;
}

.layout-row {
    display: flex;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.flex {
    flex: 1 0 auto;
}

/* --- HEADER STYLES --- */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 40px 20px 40px;
    background: #ffffff;
    box-sizing: border-box;
}

.logo {
    height: 50px;
    width: auto;
}

.bold {
    font-weight: bold !important;
}

/* --- FOOTER STYLES --- */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    padding: 20px 40px 40px 40px;
    box-sizing: border-box;
}

footer .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .footerContainer .contactBlock > div {
    color: #4881c5;
    font-size: 13px;
}

footer img {
    width: 50px;
    height: auto;
}

img {
    background: transparent;
}

section {
    max-width: 800px;
    padding-bottom: 20px;
}

/*START --- CHECKBOX STYLES --- */

.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox+label {
    display: inline-flex;
    align-items: baseline;
    position: relative;
    overflow: hidden;
}

.checkbox+label::before {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid #545454;
    margin-right: 5px;
}

.checkbox+label::after {
    content: none;
    display: inline-block;
    height: 11px;
    width: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    position: absolute;
}

.checkbox:active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.checkbox:checked+label::after {
    content: "";
}

/*END --- CHECKBOX STYLES --- */

/* START---IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER---*/


#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .p62 {
    margin-bottom: 0px;
    font-weight: bold;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft1 {
    font-size: 13px;
    line-height: 16px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft3 {
    font-size: 12px;
    line-height: 15px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft5 {
    font-size: 11px;
    line-height: 14px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft7 {
    font-size: 9px;
    line-height: 12px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft16 {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft17 {
    font-size: 1px;
    line-height: 11px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft19 {
    font-size: 1px;
    line-height: 1px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft23 {
    font-size: 8px;
    line-height: 10px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft39 {
    font-size: 9px;
    color: #fc0011;
    line-height: 11px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft52 {
    font-size: 9px;
    margin-left: 3px;
    line-height: 14px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft53 {
    font-size: 9px;
    line-height: 14px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft54 {
    font-size: 8px;
    margin-left: 3px;
    line-height: 13px
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft55 {
    font-size: 8px;
    color: #fc0011;
    line-height: 13px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .ft56 {
    font-size: 8px;
    line-height: 13px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .p8 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .p63 {
    text-align: left;
    padding-left: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .p64 {
    text-align: justify;
    padding-left: 11px;
    padding-right: 35px;
    margin-top: 12px;
    margin-bottom: 0px;
    text-indent: -11px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .p65 {
    padding-left: 1px;
    margin-top: 9px;
    margin-bottom: 0px;
    text-indent: -1px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .t12 {
    width: 718px;
    margin-top: 20px;
    font-size: 12px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .td8 {
    padding: 0px;
    margin: 0px;
    width: 366px;
    vertical-align: bottom;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .td60 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 352px;
    vertical-align: bottom;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .td61 {
    padding: 0px;
    margin: 0px;
    width: 352px;
    vertical-align: bottom;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .td62 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 366px;
    vertical-align: bottom;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .td63 {
    padding: 0px;
    margin: 0px;
    width: 389px;
    vertical-align: bottom;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .td64 {
    padding: 0px;
    margin: 0px;
    width: 58px;
    vertical-align: bottom;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .td65 {
    padding: 0px;
    margin: 0px;
    width: 29px;
    vertical-align: bottom;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .tr0 {
    height: 19px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .tr1 {
    height: 11px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .tr5 {
    height: 23px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .tr8 {
    height: 16px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .tr12 {
    height: 18px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .tr13 {
    height: 28px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .tr24 {
    height: 17px;
}

#IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER .t13 {
    width: 476px;
    font-size: 12px;
}

/* END---IDENTIFICATION_CARD_APPLICANT_DETERMINATION_BENEFICIAL_OWNER---*/


/* START---I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II---*/

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .ft3 {
    font: 12px 'Arial';
    line-height: 15px;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .ft4 {
    font: 9px 'Arial';
    line-height: 12px;
    font-weight: bold;
    color: #fc0011;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .ft5 {
    font: 1px 'Arial';
    line-height: 1px;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .ft6 {
    font: 11px 'Arial';
    line-height: 14px
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .ft8 {
    font: 13px 'Arial';
    line-height: 16px;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .ft22 {
    font: 16px 'Arial';
    margin-left: 4px;
    line-height: 18px;
    font-weight: bold;
    color: #545454;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .p4 {
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .p11 {
    padding-left: 17px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .p30 {
    padding-left: 1px;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .p31 {
    padding-left: 1px;
    margin-top: 19px;
    margin-bottom: 0px;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .td45 {
    vertical-align: bottom;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .td46 {
    padding: 0px;
    margin: 0px;
    width: 278px;
    vertical-align: bottom;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .td48 {
    border-bottom: #000000 1px solid;
    vertical-align: bottom;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .td49 {
    border-bottom: #000000 1px solid;
    vertical-align: bottom;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .td50 {
    border-bottom: #000000 1px solid;
    width: 376px;
    vertical-align: bottom;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .td51 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 342px;
    vertical-align: bottom;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .tr0 {
    height: 17px;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .tr1 {
    height: 25px;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .tr3 {
    height: 26px;
}

#I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II .t0 {
    margin-left: 1px;
    margin-top: 10px;
}

/* END --- I_OTHER_THAN_CARD_APPLICANT_IDENTIFICATION_BENEFICIAL_OWNER_II --- */


/* START --- ACCOUNT_DETAILS --- */

#ACCOUNT_DETAILS table {
    width: 100%;
}

#ACCOUNT_DETAILS .ft3 {
    font: 12px 'Arial';
    line-height: 15px;
}

#ACCOUNT_DETAILS .ft18 {
    font: 8px 'Arial';
    color: #fc0011;
    line-height: 10px;
}

#ACCOUNT_DETAILS .ft19 {
    font: 1px 'Arial';
    line-height: 1px;
}

#ACCOUNT_DETAILS .ft38 {
    font: 15px 'Arial';
    line-height: 17px;
    color: #545454;
    font-weight: bold;
}

#ACCOUNT_DETAILS .ft50 {
    font: 8px 'Arial';
    color: #fc0011;
    line-height: 10px;
    position: relative;
    bottom: 3px;
}

#ACCOUNT_DETAILS .ft51 {
    font: 1px 'Arial';
    line-height: 8px;
}

#ACCOUNT_DETAILS .p8 {
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#ACCOUNT_DETAILS .p61 {
    text-align: left;
    padding-left: 13px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#ACCOUNT_DETAILS .td46 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td47 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 32px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td48 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 31px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td49 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 375px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td51 {
    padding: 0px;
    margin: 0px;
    width: 32px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td52 {
    padding: 0px;
    margin: 0px;
    width: 31px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td53 {
    padding: 0px;
    margin: 0px;
    width: 30px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td54 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 30px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td55 {
    padding: 0px;
    margin: 0px;
    width: 61px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td56 {
    border-left: #000000 1px solid;
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 30px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td57 {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 31px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td58 {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 30px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .td59 {
    border-right: #000000 1px solid;
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 29px;
    vertical-align: bottom;
}

#ACCOUNT_DETAILS .tr9 {
    height: 24px;
}

#ACCOUNT_DETAILS .tr20 {
    height: 34px;
}

#ACCOUNT_DETAILS .tr21 {
    height: 38px;
}

#ACCOUNT_DETAILS .tr22 {
    height: 29px;
}

#ACCOUNT_DETAILS .tr23 {
    height: 8px;
}

/* END --- ACCOUNT_DETAILS --- */

/* START --- ADDRESS_OF_THE_FINANCIAL_INTERMEDIARY --- */

#ADDRESS_OF_THE_FINANCIAL_INTERMEDIARY .ft2 {
    font: 16px 'Arial';
    line-height: 18px;
}

#ADDRESS_OF_THE_FINANCIAL_INTERMEDIARY .ft3 {
    font: 12px 'Arial';
    line-height: 15px;
}

#ADDRESS_OF_THE_FINANCIAL_INTERMEDIARY .p2 {
    padding-left: 1px;
    margin-bottom: 0px;
    font-weight: bold;
}

#ADDRESS_OF_THE_FINANCIAL_INTERMEDIARY .p4 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#ADDRESS_OF_THE_FINANCIAL_INTERMEDIARY .td0 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 357px;
    vertical-align: bottom;
}

#ADDRESS_OF_THE_FINANCIAL_INTERMEDIARY .td1 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 361px;
    vertical-align: bottom;
}

#ADDRESS_OF_THE_FINANCIAL_INTERMEDIARY .tr1 {
    height: 25px;
}

#ADDRESS_OF_THE_FINANCIAL_INTERMEDIARY .t0 {
    width: 718px;
    margin-left: 1px;
    margin-top: 10px;
    font: 12px 'Arial';
}

/* END --- ADDRESS_OF_THE_FINANCIAL_INTERMEDIARY --- */

/* START-- ALREADY_OWNER --- */

#ALREADY_OWNER {
    padding-bottom: 1rem;
}

#ALREADY_OWNER .ft3 {
    display: flex;
    margin-left: 22px;
    margin-top: 1px;
}

#ALREADY_OWNER .ft3>div {
    position: relative;
    width: 22px;
    height: 12px;
    border-bottom: 1px solid #545454;
    border-left: 1px solid #545454;
}

#ALREADY_OWNER .ft3>div:last-child {
    border-right: 1px solid #545454;
}

#ALREADY_OWNER .ft3>div:nth-child(4n+1)::before {
    content: '';
    width: 19px;
    height: 12px;
    position: absolute;
    border-left: 1px solid #545454;
    top: -5px;
    left: -1px;
}

#ALREADY_OWNER .ft4 {
    font: 13px 'Arial';
    letter-spacing: -1px;
}

#ALREADY_OWNER .p6 {
    padding-left: 1px;
    margin-top: 16px;
    display: flex;
}

/* END-- ALREADY_OWNER --- */

/* START-- CASH_WITHDRAWALS --- */

#CASH_WITHDRAWALS {
    padding-bottom: 2rem;
}

#CASH_WITHDRAWALS .ft4 {
    font: 11px 'Arial';
    line-height: 14px;
}

#CASH_WITHDRAWALS .ft5 {
    font: 11px 'Arial';
    line-height: 13px;
}

#CASH_WITHDRAWALS .ft8 {
    font: 12px 'Arial';
    line-height: 12px;
}

#CASH_WITHDRAWALS .ft10 {
    font: 7px 'Arial';
    color: #fc0011;
    line-height: 10px;
}

#CASH_WITHDRAWALS .ft55 {
    font: 6px 'Arial';
    margin-left: 8px;
    line-height: 12px;
}

#CASH_WITHDRAWALS .p1 {
    text-align: left;
    margin-top: 2px;
    margin-bottom: 0px;
}

#CASH_WITHDRAWALS .p68 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 19px;
    letter-spacing: -1px;
}

#CASH_WITHDRAWALS .p69 {
    margin-top: 45px;
    margin-bottom: 0px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -1px;
}

#CASH_WITHDRAWALS .checkbox+label::before {
    width: 10px;
    height: 10px;
}

/* START-- COMPANY_DATA --- */

#COMPANY_DATA .ft2 {
    font: 12px 'Arial';
    line-height: 15px;
}

#COMPANY_DATA .ft12 {
    font: 16px 'Arial';
    line-height: 18px;
}

#COMPANY_DATA .p4 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#COMPANY_DATA .p21 {
    padding-left: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
}

#COMPANY_DATA .p22 {
    text-align: left;
    padding-left: 3px;
    margin-top: 10px;
    margin-bottom: 0px;
}

#COMPANY_DATA .p23 {
    text-align: left;
    padding-left: 3px;
    margin-top: 17px;
    margin-bottom: 0px;
}

#COMPANY_DATA .td16 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 416px;
    vertical-align: bottom;
}

#COMPANY_DATA .td17 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 302px;
    vertical-align: bottom;
}

#COMPANY_DATA .tr4 {
    height: 35px;
}

#COMPANY_DATA .t3 {
    width: 100%;
    margin-left: 3px;
    font: 12px 'Arial';
}

/* END-- COMPANY_DATA --- */

/* START-- COMPANY_DETAILS --- */

#COMPANY_DETAILS .ft4 {
    font: 16px 'Arial';
    line-height: 18px;
}

#COMPANY_DETAILS .ft5 {
    font: 12px 'Arial';
    line-height: 15px;
}

#COMPANY_DETAILS .ft6 {
    font: 1px 'Arial';
    line-height: 1px;
}

#COMPANY_DETAILS .ft7 {
    font: 11px 'Arial';
    line-height: 14px;
}

#COMPANY_DETAILS .p2 {
    margin-bottom: 0px;
    font-weight: bold;
}

#COMPANY_DETAILS .p3 {
    text-align: left;
    padding-left: 36px;
    margin-top: 24px;
    margin-bottom: 0px;
}

#COMPANY_DETAILS .p4 {
    text-align: left;
    padding-left: 36px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#COMPANY_DETAILS .p5 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#COMPANY_DETAILS .p6 {
    text-align: left;
    padding-left: 124px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#COMPANY_DETAILS .p7 {
    text-align: left;
    padding-left: 12px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#COMPANY_DETAILS .p8 {
    text-align: left;
    padding-left: 3px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#COMPANY_DETAILS .td0 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 207px;
    vertical-align: bottom;
}

#COMPANY_DETAILS .td1 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 38px;
    vertical-align: bottom;
}

#COMPANY_DETAILS .td2 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 110px;
    vertical-align: bottom;
}

#COMPANY_DETAILS .td3 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 183px;
    vertical-align: bottom;
}

#COMPANY_DETAILS .td4 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 41px;
    vertical-align: bottom;
}

#COMPANY_DETAILS .td5 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 139px;
    vertical-align: bottom;
}

#COMPANY_DETAILS .tr1 {
    height: 34px;
}

#COMPANY_DETAILS .tr2 {
    height: 33px;
}

#COMPANY_DETAILS .t0 {
    margin-top: 17px;
    font: 12px 'Arial';
}

#COMPANY_DETAILS .ft8 {
    margin-right: 15px;
}

#COMPANY_DETAILS .checkbox+label {
    margin-right: 10px;
}

/* END-- COMPANY_DETAILS --- */

/* START-- COMPANY_NAME_ON_CARD --- */

#COMPANY_NAME_ON_CARD .ft9 {
    display: flex;
    justify-content: space-between;
}

#COMPANY_NAME_ON_CARD .checkboxLabel {
    font-size: 12px;
}

#COMPANY_NAME_ON_CARD .bold {
    font-weight: bold;
}

#COMPANY_NAME_ON_CARD .companyNameBlock {
    flex-grow: 1;
    margin-left: 55px;
}

#COMPANY_NAME_ON_CARD .companyName {
    width: 100%;
    border-bottom: 1px solid #545454;
    height: 23px;
}

#COMPANY_NAME_ON_CARD .ft11 {
    font: 9px 'Arial';
    color: #fc0011;
    line-height: 12px;
}

#COMPANY_NAME_ON_CARD .p20 {
    margin-top: 5px;
    margin-bottom: 0px;
    font-weight: bold;
}

/* END-- COMPANY_NAME_ON_CARD --- */

/* START-- COMPANY_SIGNATURE --- */

#COMPANY_SIGNATURE .ft2 {
    font: 12px 'Arial';
    line-height: 15px;
}

#COMPANY_SIGNATURE .ft12 {
    font: 16px 'Arial';
    line-height: 18px;
}

#COMPANY_SIGNATURE .ft29 {
    font: 12px 'Arial';
    line-height: 14px;
}

#COMPANY_SIGNATURE .p4 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#COMPANY_SIGNATURE .p31 {
    text-align: left;
    padding-left: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#COMPANY_SIGNATURE .p60 {
    padding-left: 1px;
    margin: 0;
    font-weight: bold;
}

#COMPANY_SIGNATURE .p61 {
    text-align: left;
    padding-left: 1px;
    margin-top: 7px;
    margin-bottom: 0px;
}

#COMPANY_SIGNATURE .p62 {
    text-align: left;
    padding-left: 1px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#COMPANY_SIGNATURE .td56 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 356px;
    vertical-align: bottom;
}

#COMPANY_SIGNATURE .td57 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 363px;
    vertical-align: bottom;
}

#COMPANY_SIGNATURE .tr4 {
    height: 34px;
}

#COMPANY_SIGNATURE .t7 {
    width: 719px;
    margin-left: 1px;
    margin-top: 15px;
    font: 12px 'Arial';
}

#COMPANY_SIGNATURE .emptyCell {
   border-bottom: none;
    padding-left: 15px;
}

#COMPANY_SIGNATURE .emptyCell p {
    width: 100%;
    border-bottom: #000000 1px solid;
}

/* END-- COMPANY_SIGNATURE --- */

/* START-- CONTROLLING_OWNER --- */

#CONTROLLING_OWNER .tableLabel {
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 5px;
}

#CONTROLLING_OWNER .genderBlock {
    display: flex;
    font-size: 12px;
}

#CONTROLLING_OWNER .genderBlock div + div {
    padding-left: 15px;
}

#CONTROLLING_OWNER table {
    margin-top: 5px;
    width: 100%;
}

#CONTROLLING_OWNER .ft3 {
    font: 12px 'Arial';
    line-height: 15px;
}

#CONTROLLING_OWNER .ft4 {
    font: 9px 'Arial';
    line-height: 12px;
    font-weight: bold;
    color: #fc0011;
}

#CONTROLLING_OWNER .ft5 {
    font: 1px 'Arial';
    line-height: 1px;
}

#CONTROLLING_OWNER .ft6 {
    font: 11px 'Arial';
    line-height: 14px
}


#CONTROLLING_OWNER .p4 {
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}


#CONTROLLING_OWNER .td48 {
    border-bottom: #000000 1px solid;
    vertical-align: bottom;
}

#CONTROLLING_OWNER .tr3 {
    height: 26px;
}

/* END-- CONTROLLING_OWNER --- */

/* START-- DECLARATION --- */

#DECLARATION .label {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 11px;
}

#DECLARATION  p {
    font-size: 10px;
    margin: 0;
}

/* END-- DECLARATION --- */

/* START-- DECLARATION_TAX --- */

#DECLARATION_TAX .label {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

#DECLARATION_TAX  p {
    font-size: 10px;
    margin: 11px 0 0 0;
}

/* END-- DECLARATION_TAX --- */

/* START-- DECLARATION_TAX --- */

#CREDIT_LIMIT .container {
    display: flex;
    align-items: center;
    font-size: 14px;
}

#CREDIT_LIMIT .label {
    margin-right: 38px;
    white-space: nowrap;
}

#CREDIT_LIMIT .row {
    display: flex;
}

#CREDIT_LIMIT .row label {
    margin-right: 10px;
}

#CREDIT_LIMIT .amount {
    margin-left: 20px;
}

#CREDIT_LIMIT .amount > div {
    width: 16px;
    height: 16px;
    border-bottom: 1px solid #545454;
    border-left: 1px solid #545454;
}

#CREDIT_LIMIT .amount > div:last-child {
    border-right: 1px solid #545454;
}

#CREDIT_LIMIT .description {
    margin-left: 20px;
}

#CREDIT_LIMIT .description p {
    margin: 0;
    font: 9px 'Arial';
    line-height: 12px;
    font-weight: bold;
    color: #fc0011;
}

/* END-- DECLARATION_TAX --- */

/* START-- DETAILED_DESCRIPTION_OF_BUSINESS_BO #DETAILED_DESCRIPTION_OF_BUSINESS -- */

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .border-none,
#DETAILED_DESCRIPTION_OF_BUSINESS .border-none {
    border: none !important;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .label,
#DETAILED_DESCRIPTION_OF_BUSINESS .label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20px;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .container,
#DETAILED_DESCRIPTION_OF_BUSINESS .container {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    border-bottom: #000000 1px solid;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .container > div:not(:last-child),
#DETAILED_DESCRIPTION_OF_BUSINESS .container > div:not(:last-child) {
    margin-right: 10px;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .container > div:first-child,
#DETAILED_DESCRIPTION_OF_BUSINESS .container > div:first-child {
    font-size: 10px;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .row,
#DETAILED_DESCRIPTION_OF_BUSINESS .row {
    display: flex;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .row > div,
#DETAILED_DESCRIPTION_OF_BUSINESS .row > div {
    margin-right: 5px;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .p4,
#DETAILED_DESCRIPTION_OF_BUSINESS .p4 {
    margin: 0;
    white-space: nowrap;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .ft3,
#DETAILED_DESCRIPTION_OF_BUSINESS .ft3 {
    font-size: 12px;
    line-height: 15px;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .ft3 label,
#DETAILED_DESCRIPTION_OF_BUSINESS .ft3 label {
    font-weight: bold;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .subLabel,
#DETAILED_DESCRIPTION_OF_BUSINESS .subLabel {
    font-size: 9px;
    color: #fc0011;
    line-height: 12px;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .ft6,
#DETAILED_DESCRIPTION_OF_BUSINESS .ft6 {
    font-size: 11px;
    line-height: 14px;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .p13,
#DETAILED_DESCRIPTION_OF_BUSINESS .p13 {
    padding-left: 3px;
    margin: 0;
    white-space: nowrap;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .td6,
#DETAILED_DESCRIPTION_OF_BUSINESS .td6 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 46px;
    vertical-align: bottom;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .td13,
#DETAILED_DESCRIPTION_OF_BUSINESS .td13 {
    padding: 0px;
    margin: 0px;
    width: 43px;
    vertical-align: bottom;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .td53,
#DETAILED_DESCRIPTION_OF_BUSINESS .td53 {
    padding: 0px;
    margin: 0px;
    width: 250px;
    vertical-align: bottom;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .borderBottom,
#DETAILED_DESCRIPTION_OF_BUSINESS .borderBottom {
    border-bottom: #000000 1px solid;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .td55,
#DETAILED_DESCRIPTION_OF_BUSINESS .td55 {
    padding: 0px;
    margin: 0px;
    width: 335px;
    vertical-align: bottom;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .tr14,
#DETAILED_DESCRIPTION_OF_BUSINESS .tr14 {
    height: 28px;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .tr15,
#DETAILED_DESCRIPTION_OF_BUSINESS .tr15 {
    height: 15px;
}

#DETAILED_DESCRIPTION_OF_BUSINESS_BO .t6,
#DETAILED_DESCRIPTION_OF_BUSINESS .t6 {
    width: 100%;
    margin-left: 2px;
    font: 12px 'Arial';
}

/* END-- DETAILED_DESCRIPTION_OF_BUSINESS #DETAILED_DESCRIPTION_OF_BUSINESS -- */

/* START-- DIRECT_DEBIT -- */

#DIRECT_DEBIT .p32 {
    margin: 0;
    padding-left: 5px;
    font-weight: bold;
    line-height: 18px;
}

#DIRECT_DEBIT table {
    margin-top: 15px;
}

#DIRECT_DEBIT .p33 {
    margin: 5px 0 0 0;
    font: 11px 'Arial';
}

#DIRECT_DEBIT .p34 {
    padding-left: 5px;
    margin-right: 10px;
    font: 12px 'Arial';
    line-height: 15px;
}

#DIRECT_DEBIT .cell {
    width: 30px;
    height: 8px;
    vertical-align: bottom;
    border-bottom: #000000 1px solid;
    border-left: #000000 1px solid;
}

#DIRECT_DEBIT .cell:last-child {
    border-right: #000000 1px solid;
}

/* END-- DIRECT_DEBIT -- */

/* START-- EMPLOYMENT_FINANCIAL -- */

#EMPLOYMENT_FINANCIAL .ft14 {
    font: 12px 'Arial';
    line-height: 12px;
}

#EMPLOYMENT_FINANCIAL .checkboxBlock {
    margin-right: 10px;
}

#EMPLOYMENT_FINANCIAL table {
    margin-top: 12px;
    font: 12px 'Arial';
    white-space: nowrap;
}

#EMPLOYMENT_FINANCIAL .ft3 {
    font: 12px 'Arial';
    line-height: 15px;
}

#EMPLOYMENT_FINANCIAL .p8 {
    padding-left: 3px;
    margin-top: 7px;
}

#EMPLOYMENT_FINANCIAL .p9 {
    padding-left: 15px;
}

#EMPLOYMENT_FINANCIAL .td12 {
    border-bottom: #000000 1px solid;
    width: 233px;
    vertical-align: bottom;
}

#EMPLOYMENT_FINANCIAL .td13 {
    border-bottom: #000000 1px solid;
    width: 126px;
    vertical-align: bottom;
}

#EMPLOYMENT_FINANCIAL .td14 {
    border-bottom: #000000 1px solid;
    width: 253px;
    vertical-align: bottom;
}

#EMPLOYMENT_FINANCIAL .td15 {
    border-bottom: #000000 1px solid;
    width: 107px;
    vertical-align: bottom;
}

#EMPLOYMENT_FINANCIAL .tr3 {
    height: 29px;
}

#EMPLOYMENT_FINANCIAL .tr7 {
    height: 31px;
}

/* END-- EMPLOYMENT_FINANCIAL -- */

/* START-- ESTIMATED_ASSETS, ESTIMATED_ASSETS_BO -- */

#ESTIMATED_ASSETS .labelBlock > div:not(.label),
#ESTIMATED_ASSETS_BO .labelBlock > div:not(.label) {
    margin-right: 10px;
}

#ESTIMATED_ASSETS .label,
#ESTIMATED_ASSETS_BO .label {
    margin-right: 15px;
}

#ESTIMATED_ASSETS .content,
#ESTIMATED_ASSETS_BO .content {
    margin-top: 10px;
}

#ESTIMATED_ASSETS .amountRow > div + div,
#ESTIMATED_ASSETS_BO .amountRow > div + div {
    margin-left: 50px;
}

/* END-- ESTIMATED_ASSETS, ESTIMATED_ASSETS_BO -- */

/* START-- FOOTER -- */

#FOOTER .textBlock {
    font-size: 10px;
    color: #6f9ed1;
}

#FOOTER .container > div {
    align-content: center;
}

#FOOTER .imageBlock {
    height: 14px;
}

#FOOTER .imageBlock:first-child {
   margin-right: 10px;
}

#FOOTER .imageBlock img {
    height: 100%;
    width: auto;
}

/* END-- FOOTER -- */





