#PERSONAL_DATA_PC .checkboxBlock + .checkboxBlock {
    margin-left: 10px;
}

#PERSONAL_DATA_PC .ft1 {
    font: 13px 'Arial';
    line-height: 16px;
}

#PERSONAL_DATA_PC .ft3 {
    font: 12px 'Arial';
    line-height: 15px;
}

#PERSONAL_DATA_PC .ft4 {
    font: 16px 'Arial';
    line-height: 18px;
}

#PERSONAL_DATA_PC .ft14 {
    font: 9px 'Arial';
    color: #fc0011;
    line-height: 12px;
}

#PERSONAL_DATA_PC .ft38 {
    font: 1px 'Arial';
    line-height: 3px;
}

#PERSONAL_DATA_PC .ft39 {
    font: 1px 'Arial';
    line-height: 2px;
}

#PERSONAL_DATA_PC .p2 {
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#PERSONAL_DATA_PC .p50 {
    padding-left: 89px;
    white-space: nowrap;
}

#PERSONAL_DATA_PC .p51 {
    padding-left: 90px;white-space: nowrap;
}

#PERSONAL_DATA_PC .p52 {
    margin-top: 4px;
    margin-bottom: 1px;
}

#PERSONAL_DATA_PC .p53 {
    padding-left: 154px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: nowrap;
}

#PERSONAL_DATA_PC .td36 {
    width: 295px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td37 {
    width: 421px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td38 {
    width: 90px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td39 {
    border-bottom: #000000 1px solid;
    padding: 0px;
    margin: 0px;
    width: 331px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td40 {
    width: 225px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td41 {
    width: 108px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td42 {
    width: 331px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td43 {
    border-bottom: #000000 1px solid;
    width: 108px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td44 {
    width: 103px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td45 {
    width: 405px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td46 {
    width: 210px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td47 {
    border-bottom: #000000 1px solid;
    width: 103px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td48 {
    border-bottom: #000000 1px solid;
    width: 405px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .td49 {
    border-bottom: #000000 1px solid;
    width: 210px;
    vertical-align: bottom;
}

#PERSONAL_DATA_PC .tr5 {
    height: 21px;
}

#PERSONAL_DATA_PC .tr8 {
    height: 23px;
}

#PERSONAL_DATA_PC .tr9 {
    height: 22px;
}

#PERSONAL_DATA_PC .tr16 {
    height: 24px;
}

#PERSONAL_DATA_PC .tr17 {
    height: 13px;
}

#PERSONAL_DATA_PC .tr20 {
    height: 29px;
}

#PERSONAL_DATA_PC .tr21 {
    height: 28px;
}

#PERSONAL_DATA_PC .t6 {
    width: 100%;
    font: 12px 'Arial';
}

#PERSONAL_DATA_PC .t7 {
    width: 100%;
    font: 12px 'Arial';
}
