#PERSONAL_DATA_PC_SWITZERLAND .checkboxBlock {
    margin-right: 10px;

}

.ft1{font: 12px 'Arial';line-height: 15px;}
.ft2{font: 11px 'Arial';line-height: 14px;}
.ft7{font: 16px 'Arial';line-height: 18px;}
.ft8{font: 9px 'Arial';line-height: 12px;}
.ft10{font: 8px 'Arial';color: #fc0011;line-height: 10px;}
.ft11{font: 1px 'Arial';line-height: 1px;}
.ft12{font: 9px 'Arial';color: #fc0011;line-height: 12px;}
.ft23{font: 1px 'Arial';line-height: 12px;}
.ft24{font: 10px 'Arial';line-height: 13px;}
.ft25{font: 1px 'Arial';line-height: 14px;}
.p2{margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p12{padding-left: 6px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p35{white-space: nowrap;}
.p36{padding-left: 8px;margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.p37{margin-top: 0px;margin-bottom: 0px;white-space: nowrap;}
.td12{padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;}
.td25{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 29px;vertical-align: bottom;}
.td55{padding: 0px;margin: 0px;width: 341px;vertical-align: bottom;}
.td56{padding: 0px;margin: 0px;width: 377px;vertical-align: bottom;}
.td57{padding: 0px;margin: 0px;width: 237px;vertical-align: bottom;}
.td58{padding: 0px;margin: 0px;width: 46px;vertical-align: bottom;}
.td59{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 105px;vertical-align: bottom;}
.td60{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 270px;vertical-align: bottom;}
.td61{padding: 0px;margin: 0px;width: 2px;vertical-align: bottom;}
.td62{padding: 0px;margin: 0px;width: 58px;vertical-align: bottom;}
.td63{padding: 0px;margin: 0px;width: 88px;vertical-align: bottom;}
.td64{padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td65{padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td66{padding: 0px;margin: 0px;width: 200px;vertical-align: bottom;}
.td67{padding: 0px;margin: 0px;width: 270px;vertical-align: bottom;}
.td68{padding: 0px;margin: 0px;width: 105px;vertical-align: bottom;}
.td69{padding: 0px;margin: 0px;width: 452px;vertical-align: bottom;}
.td70{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 58px;vertical-align: bottom;}
.td71{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 88px;vertical-align: bottom;}
.td72{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 54px;vertical-align: bottom;}
.td73{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 37px;vertical-align: bottom;}
.td74{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 46px;vertical-align: bottom;}
.td75{border-bottom: #000000 1px solid;padding: 0px;margin: 0px;width: 377px;vertical-align: bottom;}
.tr0{height: 14px;}
.tr6{height: 30px;}
.tr10{height: 18px;}
.tr11{height: 26px;}
.tr12{height: 25px;}
.tr13{height: 12px;}
.tr14{height: 29px;}
.tr15{height: 27px;}
.t8{width: 100%;margin-top: 3px;font: 12px 'Arial';}
